.bigbox{
    width: 1366px;
    height: auto;
    /*background: red;*/
    margin: 0 auto;
}
.navtop{
    width: 100%;
    height: 80px;
}
.navtopleft{
    margin-left: 80px;
    width: 238px;
    height: 80px;
    float: left;
}
.navtopleft img{
    margin-top: 14px;
    margin-left: 39px;
    width: 88px;
    height: 57px;
}
.navtopright{
    width: 1000px;
    height: 35px;
    float: left;
    margin: 0 auto;
    margin-top: 21px;

}
.hover{
	color: #1C82D4;
	border-bottom: 3px solid #1C82D4;
}
.hovera{
	color: #1C82D4;
}
.navtopright li{
    float: left;
    padding: 5px;
    font-size: 18px;
    color: #353535;
    margin-right: 60px;
    font-weight:700;
}
.navtopright li:hover{
    color: #1C82D4;
    cursor: pointer;
    border-bottom: 3px solid #1C82D4;
}

/*banner*/
.bannerbox{
    width: 100%;
    height: 400px;
    background: url(../img/about/banner.png);
    background-size: contain;
    position: relative;
}
.bannerbox p{
    font-size: 46px;
    /*width: 100%;*/
    height: 45px;
    text-align: center;
    color: #FEFEFE;
    position: absolute;
    top:155px;
    left: 653px;
}
.bannerlist{
    width: 411px;
    height: auto;
    position: absolute;
    top: 219px;
    left: 650px;
}
.bannerlist li{
    float: left;
    width:65px;
    margin-right:20px;
}

.bannerlist li img{
    width: 32px;
    height:31px;
    margin-left: 19px;
    margin-bottom: 13px;
}
.bannerlist li:nth-child(2) img{
    width:25px;
    margin-left:22px;
}
.bannerlist li:nth-child(3) img{
    width:25px;
    margin-left:20px;
}
.bannerlist li:nth-child(9){
    margin-right:0;
}
.bannerlist li .citya{
    color: #fff;
    display: block;
    text-align: center;
    width: 100%;
    font-size: 14px;
    margin-left: 0;
}
.bannerlist span{
    float: left;
    color: #fff;
    font-size: 38px;
    height: 10px;
    display: block;
    margin-top: -10px;
    margin-left: -10px;
}
.ma{
    position: absolute;
    top: 147px;
    right: 116px;
}
.bannerbtn{
    position: absolute;
    width: 151px;
    height: 41px;
    border-radius: 5px;
    border: 1px solid #fff;
    text-align: center;
    line-height: 41px;
    color: #fff;
    top: 260px;
    left: 610px;
    font-size: 18px;
}


.advbox{
    width: 100%;
    height: auto;
    margin-top: 61px;
    margin-bottom:100px;
}

.advbox h1{
    font-size: 40px;
    color: #353535;
    width:100%;
    text-align: center;
}
.advbox hr{
    width: 41px;
    height: 3px;
    background: #1C82D4;
    margin: 0 auto;
    margin-top: 20px;
}
.content{
    width: 817px;
    height: 140px;
    margin:0 auto;
    margin-top: 23px;

}
.content p{
    width:100%;
    font-size: 19px;
    margin-bottom: 5px;
    color: #353535;
    text-align: center;
}
.advlist{
    height: 200px;
    width: 100%;
    margin-top:89px;

}
.advlist li{
    width: 131px;
    height: 220px;
    float: left;
    margin-left: 230px;
    margin-right: 40px;
}
.advlist li img{
    width: 131px;
}
.advlist li h2{
    font-size: 30px;
    color: #353535;
    text-align: center;
    width: 100%;
    margin-top: 31px;
    font-weight:600;

}
.advlistbig{
    width: 100%;
    height: 300px;
    margin-top: 114px;
}
.advlistbig li{
    width: 450px;
    float: left;
    height: 285px;
}
.advlistbig li:nth-child(2){
    border-left: 1px solid #888;
    border-right: 1px solid #888;
}
.advlistbig li img{
    display: block;
    margin:0 auto;
}
.advlistbig li h2{
    font-size: 28px;
    color: #353535;
    text-align: center;
    width: 100%;
    margin-top: 47px;
}
.advlistbig li p{
    width: 338px;
    font-size: 18px;
    margin: 0 auto;
    margin-top: 24px;
    text-align: center;
}

.advboxp{
    width: 100%;
    font-size: 20px;
    margin-top: 18px;
    text-align: center;
}
.advzhuan{
    width:100%;
    height:200px;
    margin-top: 81px;
}
.advzhuan li{
    width: 20%;
    float: left;
    height: 200px;
}
.advzhuan li img{
    display: block;
    margin: 0 auto;
}
.advzhuan li h2{
    margin-top: 52px;
    font-size: 28px;
    width: 100%;
    text-align: center;
}
.advzhuan li p{
    font-size: 18px;
    width: 70%;
    margin: 0 auto;
    text-align: center;
    margin-top: 14px;
}
.advzhuan li:nth-child(even) img{
    margin: 0 auto;
    display: block;
    margin-top: 100px;
}
.aboutshenga{
    width: 100%;
    height: 241px;
    background: #f6f6f6;
}

.aboutleft{
    width: 50%;
    float: left;
}
.aboutleft h2{
    width: 100%;
    font-size: 28px;
    margin-top: 57px;
    margin-left: 98px;
}
.aboutleft hr{
    width: 91px;
    height: 3px;
    background: #888;
    margin-left: 98px;
    margin-top: 11px;
}
.aboutleft p{
    width: 565px;
    height: 66px;
    margin-left: 98px;
    margin-top: 30px;
    font-size: 18px;
}
.aboutright{
    width: 50%;
    float: right;
    position: relative;
}
.aboutright p{
    font-size: 30px;
    top: 60px;
    position: absolute;
    right: 304px;
}
.contactbtn{
    width: 131px;
    height: 41px;
    background: #1C82D4;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    line-height: 41px;
    font-size: 20px;
    top: 149px;
    right: 304px;
    position: absolute;
}
.contactbtn a{
	color: #FFFFFF;
}
.contactbtn a:hover{
	color: #FFFFFF;
}
.imgbox{
    width: 150px;
    position: absolute;
    top: 59px;
    right: 114px;
    border-left: 3px solid #888;
    padding-left: 20px;
}

.contact{
	width: 100%;
	height: auto;
}
.contact p{
	font-size: 40px;
    color: #353535;
    width: 100%;
    text-align: center;
    padding-top: 100px;
}
.contact h2{
	width: 100%;
    font-size: 15px;
    margin-bottom: 5px;
    color: #353535;
    text-align: center;
    margin-top: 20px;
}
.contactlist{
    height: 200px;
    width: 100%;
    margin-top:89px;

}
.contactlist li{
    width: 250px;
    height: 220px;
    float: left;
    margin-left: 130px;
    margin-right: 40px;
}
.contactlist li img{
	margin-left: 100px;
}
.contactlist li:nth-child(2) img{
	margin-top: 15px;
}
.contactlist li h3{
	font-size: 20px;
    margin-top: 10px;
    text-align: center;
}
.contactlist li p{
	width: 100%;
    text-align: center;
    font-size: 15px;
    padding-top: 0;
}
